/*======================
     01.BASICS
========================*/

:root {
    --pColor: #12354D;
    --pLight: #EBF5FB;
    --textColor: #333333;
    --borderColor: #ebebeb;
    --lightTextColor: rgba(53, 54, 58, .6);
    --gradient: #3498DB, var(--pColor)
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    color: var(--textColor);
    line-height: normal;
    font-weight: 400;
    font-family: 'DM Sans', sans-serif;
    overflow-x: hidden;
    background-color: #f8fcff;
}

a {
    text-decoration: none;
    color: var(--textColor);
    display: inline-block;
}

h1, h2, h3, h4, h5, h6, p, span {
    margin: 0;
    padding: 0;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6{
    margin: 0;
    padding: 0;
    color: #2772A4;
}

label {
    margin-bottom: 8px;
}
input.form-control,
select.form-select {
    border: 1px solid rgba(51, 51, 51, .1);
    height: 48px;
}

input.form-control:focus,
select.form-select:focus {
    outline: none;
    border: 1px solid #3498DB;
    box-shadow: 0 0 5px #c1e7ff;
}

section {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #fefdfd;
}

.btn-pay-gradient {
    position: relative;
    display: inline-block;
    padding: 12px 24px;
    color: white;
    overflow: hidden;
    border: none;
    cursor: pointer;
    background: linear-gradient(to bottom, var(--gradient));
    transition: color 0.4s ease;
    -webkit-transition: color 0.4s ease;
    -moz-transition: color 0.4s ease;
    -ms-transition: color 0.4s ease;
    -o-transition: color 0.4s ease;
}



/*======================
     02.HEADER
========================*/

    header, nav {
        background-color: var(--pColor);
        color: #fff;
        width: 100%;
    }  

    .nav-logo_img {
        height: 40px;
        width: auto;
    }

    .nav-logo_text {
        font-size: 20px;
        font-weight: 700;
    }

    .nav-link {
        color: #fff;
    }

    .nav-link.active {
        color: #C0DFF4 !important;
    }

    .nav-link:hover {
        color: #E1F0FA !important;
    }

    .navbar-toggler {
        color: #E1F0FA !important;
    }


/*======================
    03.HERO
========================*/

    .hero {
        padding-top: 40px;
        padding-bottom: 80px;
    }

    .hero-content_heading {
        font-weight: 700;
        text-align: center;
        color: var(--pColor);
    }

    .hero-content_heading br{
        display: none;
    }

    .hero-content_paragraph br {
        display: none;
    }

    .hero-content_paragraph {
        font-size: 20px;
        line-height: normal;
        text-align: center;
        color: var(--lightTextColor);
    }

    .rate-small {
        font-size: 70%;
    }

    
/*======================
     04. EXCHANGE
========================*/
    .exchange-header {
        font-size: 50px;
        font-weight: 500;
        line-height: 60px;
        color: #2772A4;
    }
    .exchange-sub_header {
        /* color: #2772A4; */
        font-size: 18px;
        font-weight: 300;
        margin-top: 8px;
    }

    .exchange-card {
        margin-top: 30px;
        background-color: #f8fcff;
        border-radius: 14px;
        -webkit-border-radius: 14px;
        -moz-border-radius: 14px;
        -ms-border-radius: 14px;
        -o-border-radius: 14px;
    }

    .exchange-coversion {
        font-size: 24px;
    }

    .exchange-coversion_rate {
        font-size: 16px;
        color: #2F89C5;
    }

    .exchange-coversion .fw-light {
        color: rgba(51, 51, 51, .7);
    }


/*======================
     05. QUICK DOLLAR
========================*/
    .quick-label {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #EBF5FB;
        font-weight: 500;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
}

    .quick-label+.quick-label {
        margin-top: 16px;
    }

/*================================
     07.FAQ
================================*/


.faq {
    background: url(../img/bg/pattern1.webp);
   
  }

  .accordion-item{
    border: 1.5px solid rgba(47, 137, 197, .20);
    overflow: hidden;
    border-radius: 8px;
    -webkit-border-radius: 8px  ;
    -moz-border-radius: 8px  ;
    -ms-border-radius: 8px  ;
    -o-border-radius: 8px  ;
}

.accordion-item h2 {
    color: var(--pColor);
    font-weight: 700;
}
  

  .accordion-item:not(:first-of-type) {
    border-top: 1px solid #8c441136;
}

  .accordion-header, .accordion-header button{
    font-family: var(--kunbis-font);
    color: var(--pColor);
    font-weight: 500;
}

  .accordion-button:not(.collapsed) {
    color: var(--aColor);
    background-color: rgba(47, 137, 197, .20);
}

/*======================
     06. BLOG
========================*/

    .blog-card {
        overflow: hidden;
        display: flex;
        gap: 10px;
        border: 1px solid rgba(193, 193, 193, 0.4);
        box-shadow: 0 2px 10px rgba(149, 149, 149, 0.1);
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
    }

    .blog-card.latest-post {
        border: none;
        box-shadow: none;
    }

    .blog-thumbnail img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .blog-content {
        border-left: 2px solid #8bb6cf;
    }

    .blog-title {
        font-weight: 500;
        font-size: 18px;
        color: var(--pColor);
    }

    .latest-post .blog-title{
        font-size: 16px;
        font-weight: 500;
        color: var(--textColor);
    }

    .blog-details{
        font-weight: 300;
        font-size: 14px;
        margin-top: 8px;
    }

    .blog-meta {
        font-size: 12px;
        font-weight: 300;
        color: #7b7b7b;
    }

    .latest-post .blog-meta{
        font-size: 10px;
        font-weight: 300;
        color: #7b7b7b;
    }

    .blog-info {
        margin-top: 4px;
    }

    /* Single Blog */
    .blog-header {
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 16px;
    }

    #single-blog .blog-date.s {
        color: #2F89C5;
        font-size: 18px;
    }

    #single-blog .reading-info {
        font-size: 14px;
        font-weight: 300;
    }

    #single-blog .blog-section {
        margin-top: 40px;
        padding-bottom: 24px;
        border-bottom: 1px solid rgba(51, 51, 51, .1);
    }

    #single-blog .section-title {
        font-weight: 700;
        font-size: 28px;
        margin-bottom: 16px;
    }

    #single-blog .section-content {
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
    }



/*======================
     05.FOOTER
========================*/
    
    footer {
        background-color: var(--pColor);
        color: #fff;
        width: 100%;
    }

    footer .nav-link {
        font-size: 70%;
        font-weight: 300;
        text-decoration: underline;
        font-size: 12px;
        opacity: 80%;
}

    



/*======================
     01.DASHBOARD =================
========================*/

    body.dashboard {
        display: flex;
        flex-direction: column;
        /* height: 100vh; */
        width: 100%;
        
        background-color: #f9f9f9;
    }

    .dashboard .nav-logo_img {
        height: 60px;
    }

    .dashboard .main-content {
        overflow-x: hidden;
        padding: 0;
    }

   

    .top-sidebar img {
        color: #813E95;
    }

    .dashboard .top-sidebar,
    .dashboard .bottom-sidebar {
        background-color: #fff;
        padding: 30px 24px;
        border: 1px solid var(--borderColor);
        border-radius: 16px;
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        -ms-border-radius: 16px;
        -o-border-radius: 16px;
    }

    

    .dashboard .top-sidebar li+li,
    .dashboard .bottom-sidebar li+li {
        margin-top: 30px;
    }

    .dashboard .sidebar a.active,
    .dashboard .sidebar a:hover:not(.btn-pay-gradient),
    .dashboard-content_transaction-box a.active{
        background: linear-gradient(to bottom, var(--gradient)); 
        -webkit-background-clip: text; 
        -webkit-text-fill-color: transparent; 
        text-decoration: none;
        display: block;
    }

    .dashboard .sidebar a svg {
        height: 20px;
        width: 20px;
    }

    .dashboard .sidebar p{
        font-weight: bold;
        font-size: 14px;
    }

    .dashboard .btn-pay-gradient {
        border-radius: 16px;
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        -ms-border-radius: 16px;
        -o-border-radius: 16px;
    }

    .dashboard a.btn-pay-gradient:hover {
        background: none;
        background-color: #2772A4;
        color: white;

    }

    .dashboard-content {
        overflow-x: hidden;
    }

    .dashboard-content_balance .balance-card {
        background-color: #fff;
        padding: 30px;
        border-radius: 16px;
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        -ms-border-radius: 16px;
        -o-border-radius: 16px;
    }

    .balance-card.due-available{
        background-color: #F2ECF4;
        padding: 16px;
    }
    
    .balance-card.due-paid{
        background-color: #550047;
        padding: 16px;
        color: #fff;
    }

    .balance-card.due-paid .balance-card_subtitle {
        color: #fff;
    }

    .balance-card .balance-card_subtitle{
        font-size: 12px;
        font-weight: 400;
        color: var(--lightTextColor);
    }

    .balance-card .balance-card_title{
        font-size: 24px;
        font-weight: 600;
    }

    .balance-card .svg-box {
        background-color: #FBFBFB;
        height: 24px;
        width: 24px;
        padding: 4px;
        object-fit: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }

    .balance-card .svg-box svg{
        height: 100%;
        width: 100%;
    }

    .dashboard-content_header {
        background-color: #fff;
        padding: 10px;
        padding-bottom: 24px;
        padding-top: 16px;
    }

    .dashboard-content_paragraph {
        color: var(--lightTextColor);
    }

    .dashboard-content_search input{
        width: 290px;
        height: 42px;
        padding: 2px 16px;
        padding-left: 40px;
        border: 1px solid var(--borderColor);
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
    }


    .dashboard-content_search-img {
        height: 42px;
        width: 42px;
        padding: 10px;
        object-fit: cover;
        border: 1px solid var(--borderColor);
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
}

    .dashboard-content_search-img img {
        height: 100%;
        width: 100%;
    }

    .dashboard-content_transaction-box {
        background-color: #fff;
        margin-top: 30px;
        padding: 24px 16px;
        border-radius: 16px 16px 0 0;
        -webkit-border-radius: 16px 16px 0 0;
        -moz-border-radius: 16px 16px 0 0;
        -ms-border-radius: 16px 16px 0 0;
        -o-border-radius: 16px 16px 0 0;
    }

    .dashboard-content_transaction-box select {
        min-width: 170px !important;
        padding: 8px;
        height: 44px;
        padding-left: 40px;
        border: .5px solid var(--borderColor);
        font-size: 12px;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
    }

    .dashboard-content_transaction-box p{
        padding: 12px;
        font-size: 12px;
        color: #c2c2c2;
        border: .5px solid var(--borderColor);
        border-radius: 8px;
    }


    .dashboard-content_details_filter {
        background-color: #fff;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
    }

    .dashboard-content_details_filter .item+.item {
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .dashboard-content_details_filter .item p {
        margin-bottom: 8px;
        font-weight: 600;
    }
    
    .dashboard-content_details_filter .item .form-check {
        margin-bottom: 8px;
        font-size: 12px;
    }

    .form-check-input:focus {
        box-shadow: none;
        border-color: var(--sColor);
    }

    .form-check-input:checked {
        background-image: linear-gradient(45deg, var(--gradient));
        background-origin: border-box;
        background-clip: content-box, border-box;
        border: none;
        outline: none;
    }

    .association-logo-box {
        background: rgba(254, 230, 250, .2);
        padding: 16px 24px;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
    }

    .association-logo_img{
        height: 70px;
        width: 70px;
        padding: 12px;
        border-radius: 100%;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;
    } 

    .association-logo_img img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .association-logo-box p+p{
        font-size: 80%;
        color: var(--lightTextColor);
    }

    a.gradient-link, 
    .payable-dues label {
        background: linear-gradient(to bottom, var(--gradient)); 
        -webkit-background-clip: text; 
        -webkit-text-fill-color: transparent; 
    }

    .payable-dues_card {
        margin-top: 12px;
        padding: 24px;
        font-size: 85%;
        border: 1px solid var(--borderColor);
        background-color: #fff;
        border-radius: 16px;
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        -ms-border-radius: 16px;
        -o-border-radius: 16px;
    }

    .payable-dues_card input[type="checkbox"] {
        height: 16px;
        width: 16px;
    }

    table thead tr {
        background-color: var(--pColor);
        color: #C0DFF4;        
    }


    th, td {
        padding: 16px 24px 16px 8px !important;
        font-size: 16px;
    }

    table.dataTable th.dt-type-numeric, table.dataTable th.dt-type-date, table.dataTable td.dt-type-numeric, table.dataTable td.dt-type-date {
        text-align: center;
    }
    
    div.dt-container .dt-paging .dt-paging-button.disabled, div.dt-container .dt-paging .dt-paging-button.disabled:hover, div.dt-container .dt-paging .dt-paging-button.disabled:active {
        color: #C0DFF4 !important;
    }

    .dt-length select {
        margin-right: 5px !important;
    }
    .dt-search {
        position: relative;
    }

    .dt-search label {
        display: none !important;
    }

    .dt-search input {
        padding-left: 30px !important;
        height: 36px !important;
        border: 1px solid #ccc !important;
        border-radius: 4px !important;
    }

    .dt-search input::placeholder {
        color: #aaa; /* Placeholder color */
    }

    .dt-search input:focus {
        outline: none;
        border: 1px solid var(--sColor) !important;
        background-color: rgba(53, 54, 58, .02) !important;
        box-shadow: 0 0 5px rgba(53, 54, 58, .2) !important;
    }

    .dt-search::before {
        content: '' !important;
        position: absolute !important;
        left: 10px !important;
        color: black !important;;
        top: 50% !important;
        margin-left: 5px !important;
        width: 16px !important;
        height: 16px !important;
        background-image: url('/assets/img/svg/search.svg') !important;
        background-size: contain !important;
        background-repeat: no-repeat !important;
        transform: translateY(-50%) !important;
        -webkit-transform: translateY(-50%) !important;
        -moz-transform: translateY(-50%) !important;
        -ms-transform: translateY(-50%) !important;
        -o-transform: translateY(-50%) !important;
    }   

/* Styling the dropdown menu */
.custom-dropdown-menu {
    box-shadow: none;
    background-color: #fff8fc;
    border: 1px solid var(--borderColor);
    padding: 10px 0;
    min-width: 300px;
    position: absolute;
    margin: 0 !important;
    margin-top: 20px !important;
    border-radius:16px;
    -webkit-border-radius:16px;
    -moz-border-radius:16px;
    -ms-border-radius:16px;
    -o-border-radius:16px;
}

/* Styling each dropdown item */
.custom-dropdown-item {
    font-size: 16px;
    color: #333; /* Text color */
    padding: 8px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Aligns checkmark on the right */
}

/* Hover effect for dropdown items */
.custom-dropdown-item:hover {
    background-color: #f5f5f5; /* Light hover background */
    color: #333;
}

/* Selected item styling */
.selected {
    color: #333;
    font-weight: bold; /* Bold text */
}

/* Checkmark icon for selected item */
.selected::after {
    content: '✔'; /* Checkmark symbol */
    color: #c03c93; /* Color of the checkmark */
    font-size: 16px;
}

